{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block content %}

<p>
  Your payment has been successful, below is you receipt
</p>
<form class= "form" action= "index" method="post">  
  {{ govukButton({
    text: "Print"
  }) }}
  

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
    <dd class="govuk-summary-list__value">
      Mark Drummond
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
      5 January 1990
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Contact information
    </dt>
    <dd class="govuk-summary-list__value">
      72 Guild Street<br>London<br>SE23 6FH
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Fine details
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">Licence fee evasion</p>
      <p class="govuk-body">£178.00</p>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Payment successful
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">Payment amount</p>
      <p class="govuk-body">£178.00</p>
      <p class="govuk-body">Payment date</p>
      <p class="govuk-body">20/09/2021</p>
    </dd>
  </div>
</dl>


{{ govukButton({
  text: "Exit"
}) }}


{% endblock %}
