
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Welcome to the online portal for payment of TV license fee fines.
        </h1>

      <p>
        To login find the Case and Account number on the letter you have received.
      </p>


      


<form class= "form" action= "checkinput" method="post">     

{{ govukInput({
  id: 'case number',
  name:'case number',
  value:[''],
  classes:'govuk-input govuk-input--width-10',
  label: {
    text: "Enter case number",
    classes: "govuk-label--l",
    isPageHeading: false
  },
  errorMessage: {
    text: "Enter your 8 digit case number"
  }
}) }}

{{ govukInput({
  id: 'Account number',
  name:'Account number',
  value:[''],
  classes:'govuk-input govuk-input--width-10',
  label: {
    text: "Enter account number",
    classes: "govuk-label--l",
    isPageHeading: false
  },
  errorMessage: {
    text: "Enter your 8 digit account number"
  }
}) }}

{{ govukButton({
  text: "Next"
}) }}


      <h2 class="govuk-heading-m">About this page</h2>

      <p>This prototype was created using the GOV.UK prototype kit</p>

      

      
    </div>
  </div>

{% endblock %}
