{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block content %}
<form class= "form" action= "Confirmation" method="post"> 

  {{ govukWarningText({
    text: "Payment was unsuccessful",
    iconFallbackText: "Warning"
  }) }} 



{{ govukTable({
  caption: "Payment",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "20/02/2021"
    },
    {
      text: ""
    }
  ],
  rows: [
    [
      {
        text: "Card details"
      },
      {
        text: "1234 5678 1234 5678"
      }
    ],
    [
      {
        text: "Card expiry"
      },
      {
        text: "07/23"
      }
    ],
    [
      {
        text: "CVV"
      },
      {
        text: "579"
      }
    ],
    [
      {
        text: "Full name"
      },
      {
        text: "John Doe"
      }
    ],
    [
      {
        text: "Address"
      },
      {
        text: "19 Oaktree Drive"
      }
    ],
    [
      {
        text: "Post Code"
      },
      {
        text: "BT11 1DA"
      }
    ]
  ]
}) }}


{{ govukButton({
  text: "Next"
}) }}



 
{% endblock %}
